# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
**/dependency-reduced-pom.xml
**/test.log

# Quarkus .env
.env

# dependencies
/horreum-web/node_modules
/horreum-web/node
.pnp
.pnp.js

# testing
/horreum-web/coverage
/horreum-integration-tests/dependency-reduced-pom.xml
/horreum-integration-tests/test.log

# production
/horreum-web/build

# generated API
/horreum-web/src/generated

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock*

react-app-env.d.ts

# docs
docs/site/.hugo_build.lock
docs/site/public/
docs/site/resources/

# code format
.cache